// font
$fontFamily: "Roboto", sans-serif;
$fontSize: 1rem;
$lineHeight: 1.56;

// container
$minWidth: 340px;
$maxWidth: 1366px;
$maxWidthContainer: 1170px;
$headerHeight: 83px;

// breakpoints
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

//color
$mainColor: #444240;
$darkColor: #1b1a17;
$backgroundColor: #fdfdfb;
