body {
  margin: 0;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $mainColor;
  background-color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $maxWidth;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer;
  min-width: $minWidth;
  margin: 0 auto;
  @media (max-width: $xl) {
    max-width: 970px;
  }
  @media (max-width: $lg) {
    max-width: 750px;
  }
  @media (max-width: $md) {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page {
  flex: 1 1 auto;
}

section {
  overflow: hidden;
}

a:hover,
a:active {
  color: $pinkColor;
  transition: all 0.4s ease 0s;
}

.title {
  font-family: "PlayfairDisplay";
  font-size: 2.81rem;
  line-height: 1.33;
  color: $darkColor;
  white-space: nowrap;
  @media (max-width: $xl) {
    font-size: 2.3rem;
  }
  @media (max-width: $lg) {
    font-size: 2rem;
  }
  @media (max-width: $md) {
    font-size: 1.8rem;
  }
}

.title2 {
  font-family: "PlayfairDisplay";
  font-size: 2rem;
  line-height: 1.33;
  color: $darkColor;
  @media (max-width: $xl) {
    font-size: 1.8rem;
  }
  @media (max-width: $md) {
    font-size: 1.2rem;
  }
}
.btn {
  display: inline-block;
  font-family: $fontFamily;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 26px 38px;
  white-space: nowrap;
  @media (max-width: $md) {
    padding: 13px 20px;
  }
}
a {
  white-space: nowrap;
}
