.footer-items {
  font-size: calc(0.75 * $fontSize);
  line-height: 1.17;
}
.footer {
  padding-top: 45px;
  @media (max-width: $lg) {
    padding-top: 20px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 4.9% 14.64% 4.9% 13.18%;
    background-color: $mainColor;
    color: #fff;
    @media (max-width: $lg) {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    a {
      opacity: 0.75;
      color: #fff;
      &:hover,
      &:active {
        color: #d4b098;
        transition: all 0.4s ease 0s;
      }
    }
  }
  &__content {
    margin-right: 20px;
    a {
      display: block;
    }
    @media (max-width: $lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      width: 100%;
    }
    @media (max-width: $sm) {
      display: block;
    }
  }
  &__logo {
    margin-bottom: 22px;
    @media (max-width: $lg) {
      margin: 0;
    }
    @media (max-width: $sm) {
      margin-bottom: 10px;
    }
  }
  &__tel {
    margin-bottom: 12px;
    @extend .footer-items;
    @media (max-width: $lg) {
      margin: 0;
    }
    @media (max-width: $sm) {
      margin-bottom: 10px;
    }
  }
  &__email {
    @extend .footer-items;
  }
  &__menu-body {
    flex: 0 1 71%;
    @media (max-width: $lg) {
      width: 100%;
    }
  }
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-top: 10px;
  @media (max-width: $sm) {
    flex-direction: column;
    margin: 0;
    row-gap: 10px;
  }
  &__item {
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: calc(0.875 * $fontSize);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.07em;
    @media (max-width: $sm) {
      margin: 0 0 10px 0;
      cursor: pointer;
      &::after {
        display: inline-block;
        margin-left: 15px;
        content: "\25BC";
      }
      &._active::after {
        content: "\25B2";
      }
    }
  }
  &__submenu {
    @extend .footer-items;
    li + li {
      margin-top: 10px;
    }
    @media (max-width: $sm) {
      display: none;
      &._active {
        display: block;
      }
    }
  }
}
