.header {
  &__container {
    display: flex;
    align-items: center;
    min-height: $headerHeight;
    background-color: $backgroundColor;
    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }
  &__logo {
    flex: 0 0 auto;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
  &__menu {
    margin-left: auto;
    margin-right: 20px;
    @media (max-width: $md) {
      order: 1;
      margin-right: 0;
    }
  }
  &__actions {
    flex: 0 0 auto;
    margin-left: 22.5%;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    column-gap: 23px;
    @media (max-width: $md) {
      margin-top: 0;
    }
    @media (max-width: $sm) {
      order: 2;
      margin: 0;
      width: 100%;
    }
  }
  &__search-form {
    display: none;
    position: relative;
  }
  &__search-input {
    width: 200px;
    height: 15px;
    padding: 0 15px;
    background-color: #f7f5ef;
  }
  &__search-submit {
    position: absolute;
    z-index: 10;
    top: 0;
  }
}
.menu {
  &__body {
    @media (max-width: $md) {
      position: absolute;
      top: -100vh;
      left: 0;
      padding: 0 15px;
      width: 100%;
      height: 100vh;
      text-align: center;
      background-color: #f7f5ef;
      opacity: 0;
      overflow: auto;
      transition: all 0.5s ease 0s;
      &._active {
        top: $headerHeight;
        opacity: 0.98;
        z-index: 50;
      }
    }
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 65px;
    @media (max-width: $lg) {
      column-gap: 30px;
    }
    @media (max-width: $md) {
      display: inline-block;
    }
  }
  &__link {
    font-size: calc(0.875 * $fontSize);
    line-height: 1.17;
    color: #555248;
    @media (max-width: $md) {
      margin: 30px 0 0;
      font-size: calc(2 * $fontSize);
    }
  }
  li {
    @media (max-width: $md) {
      margin: 30px 0 0;
      text-align: left;
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: $md) {
    position: relative;
    display: block;
    width: 34px;
    height: 26px;
    color: $mainColor;
    z-index: 90;
    span {
      position: absolute;
      top: calc(50% - 1.5px);
      right: 0px;
      width: 100%;
      height: 3px;
      background-color: $mainColor;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active span {
      transform: scale(0);
      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1.5px);
      }
      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1.5px);
      }
    }
  }
}
.like {
  position: relative;
  cursor: pointer;
  &__badge {
    position: absolute;
    top: -5px;
    right: -7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(0.875 * $fontSize);
    height: calc(0.875 * $fontSize);
    border-radius: 50%;
    background-color: #e6c8b4;
    font-family: $fontFamily;
    font-size: calc(0.5 * $fontSize);
    line-height: 1;
    color: $darkColor;
  }
}
