.header {
  &__container {
    display: flex;
    align-items: center;
    min-height: $headerHeight;
    background-color: $backgroundColor;
    column-gap: 20px;
    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }
  &__logo {
    flex: 0 0 auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
  &__menu {
    @media (max-width: $md) {
      order: 1;
      margin-left: auto;
    }
  }
  &__actions {
    flex: 0 0 auto;
    margin-top: 12px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 23px;
    @media (max-width: $md) {
      margin: 0;
    }
    @media (max-width: $sm) {
      order: 2;
      width: 100%;
    }
    img {
      vertical-align: middle;
    }
  }
  &__search-form {
    position: relative;
    width: 16px;
    height: 27px;
    &._active {
      width: 200px;
    }
  }
  &__search-input {
    margin-left: auto;
    padding: 5px;
    width: 0px;
    color: $darkColor;
    background-color: #f7f5ef;
    opacity: 0;
    &._active {
      width: 200px;
      border: 1px solid #e4e2dc;
      border-radius: 10px;
      opacity: 1;
      transition: all 0.8s ease-out;
    }
  }
  &__search-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &._active {
      right: 5px;
      transition: right 0.3s ease;
    }
  }
}
.menu {
  &__icon {
    display: none;
    @media (max-width: $md) {
      position: relative;
      display: block;
      z-index: 100;
    }
  }
  &__body {
    @media (max-width: $md) {
      position: absolute;
      top: -100vh;
      left: 0;
      padding: 0 15px;
      width: 100%;
      height: 100vh;
      text-align: center;
      background-color: #f7f5ef;
      opacity: 0;
      overflow: auto;
      transition: all 0.5s ease-out;
      z-index: 50;
      &._active {
        top: $headerHeight;
        opacity: 0.98;
        transition: all 0.5s ease;
      }
    }
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 65px;
    @media (max-width: $lg) {
      column-gap: 30px;
    }
    @media (max-width: $md) {
      display: inline-block;
    }
  }
  &__link {
    padding: 5px 0;
    font-size: 0.875rem;
    line-height: normal;
    color: #555248;
    @media (max-width: $md) {
      font-size: 2rem;
    }
  }
  li {
    @media (max-width: $md) {
      margin: 60px 0 0;
      text-align: left;
    }
  }
}
.icon-menu {
  @media (max-width: $md) {
    width: 34px;
    height: 26px;
    color: $mainColor;
    span {
      position: absolute;
      top: calc(50% - 1.5px);
      right: 0px;
      width: 100%;
      height: 3px;
      background-color: $mainColor;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active span {
      transform: scale(0);
      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1.5px);
      }
      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1.5px);
      }
    }
  }
}
.search {
  position: relative;
  width: 16px;
  height: 27px;
  transition: all 0.8s ease-in-out;
  &._active {
    width: 200px;
    transition: all 0.8s ease-in-out;
  }
  &__input {
    padding: 5px;
    width: 100%;
    color: $darkColor;
    background-color: #f7f5ef;
    border: 1px solid #e4e2dc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    &._active {
      opacity: 1;
      transition: all 0.8s ease-in-out;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: right 0.8s ease-in-out;
    &._active {
      right: 5px;
      transition: right 0.8s ease-in-out;
    }
  }
}
.like {
  position: relative;
  cursor: pointer;
  &__badge {
    position: absolute;
    top: -5px;
    right: -7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    background-color: #e6c8b4;
    font-size: 0.5rem;
    line-height: 1;
    color: $darkColor;
  }
}
