.subscription {
  padding: 38px 0 45px;
  @media (max-width: $lg) {
    padding: 20px 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    @media (max-width: $md) {
      flex-direction: column;
      row-gap: 20px;
      padding: 0 10%;
    }
  }
  &__gallery {
    flex: 0 0 53.8%;
    @media (max-width: $md) {
      width: 100%;
    }
  }
  &__title {
    margin: 28% 0 4.7%;
    @media (max-width: $lg) {
      margin: 10% 0 4.7%;
    }
    @media (max-width: $md) {
      margin: 0 0 15px;
    }
  }
  &__text {
    margin-bottom: 21.7%;
    width: 90%;
    line-height: 1.7;
    color: $mainColor;
    @media (max-width: $xl) {
      width: 90%;
    }
    @media (max-width: $lg) {
      margin-bottom: 10%;
    }
    @media (max-width: $md) {
      margin-bottom: 15px;
      font-size: 0.75rem;
    }
  }
  &__link {
    font-weight: bold;
    color: #262421;
  }
  &__social-container {
    display: flex;
    align-items: center;
    column-gap: 18px;
    @media (max-width: $md) {
      column-gap: 25px;
      img {
        height: 30px;
      }
    }
    img {
      vertical-align: middle;
    }
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-flow: dense;
  &__photo {
    position: relative;
    &_1 {
      grid-column: span 2;
    }
    &_2 {
      grid-column: span 3;
      grid-row: span 2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_3 {
      grid-column: span 2;
    }
  }
}
